<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EssenceOfMH</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- font awesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- fonts -->
    <link rel="stylesheet" href="../font/fonts.css">
    <!-- normalize css -->
    <link rel="stylesheet" href="../css2/normalize.css">
    <!-- custom css -->
    <link rel="stylesheet" href="../css2/utility.css">
    <link rel="stylesheet" href="../css2/style.css">
    <link rel="stylesheet" href="../css2/responsive.css">
    </head>
    <body>
        <!-- navbar  -->
      
    <!-- navbar  -->
    <nav class="navbar">
        <div class="container flex">
            <a href="index.html" class="site-brand">
                EssenceOf<span>MH</span>
            </a>

            <button type="button" id="navbar-show-btn" class="flex">
                <i class="fas fa-bars"></i>
            </button>
            <div id="navbar-collapse">
                <button type="button" id="navbar-close-btn" class="flex">
                    <i class="fas fa-times"></i>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/gallery" class="nav-link">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a href="/blog" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end of navbar  -->
        <!-- end of navbar  -->

        <!-- header -->
        <header class = "flex header-sm">
            <div class = "container">
                <div class = "header-title">
                    <h1>About</h1>
                                    </div>
            </div>
        </header>
        <!-- header -->

        <!-- about section -->
        <section id = "about" class = "py-4">
            <div class = "container">
                <div class = "title-wrap">
                    <span class = "sm-title">DIRECTORATE OF TOURISM</span>
                    <h2 class = "lg-title">Mentioned below are some of the key highlights/achievements of the past one year</h2>
                </div>

                <div class = "about-row">
                    <div class = "about-left my-2">
                        <img src = "images/th.jpg" alt = "about img">
                    </div>
                    <div class = "about-right">
                        <h2>First state to implement agri-tourism policy</h2>
                        <p class = "text">Being the first state in India to implement agro-tourism policy, Maharashtra is servicing as an enabler for those looking to travel and enjoy rustic outdoors.</p>
                        <p class="text">The agro-tourism policy will invigorate the rural sector and agricultural practitioners empowering people with a steady source of an alternative employment and income through tourism. The projects of up to 8 rooms plus kitchen within five acres of land will not require a non-agricultural certificate.</p>
                    </div>
                </div>

                <div class="about-row">
                    <div class="about-left my-2">
                        <h2>Maharashtra being the only state to execute its beach shack policy, after Goa</h2>
                        <p class="text">In a bid to boost beach and coastal tourism, the state has recently approved ‘Beach shack’ policy that will allow setting up to 10 beach shacks and beach facility centres along the Konkan coast. ‘Beach Shack Policy’ will encourage locals living on the coastline of Maharashtra to open beach shacks, serving as local hangouts/eateries for tourist.
                            As a pilot project, 8 beaches of the Konkan coastline have been selected for setting up beach shacks- namely Varsoli and Diveagar beaches in Raigad, Guhagar and Aare Ware beaches in Ratnagiri, Kunkeshwar and Tarkarli beaches in Sindhudurg and, Kelwa and Bordi in Palghar.
                            The shacks will remain open from 7 AM to 7 PM and CCTV for each one will be mandatory.</p>
                    </div>
                    <div class="about-right">
                        <img src="images/img1.jpeg" alt="about img">
                    </div>
                </div>

                <div class="about-row">
                    <div class="about-left my-2">
                        <img src="images/discover.jpg" alt="about img">
                    </div>
                    <div class="about-right">
                        <h2>'Discover Maharashtra’ digital campaign to promote offbeat places in Maharashtra</h2>
                        <p class="text">In an effort to promote offbeat places, locations in Maharashtra, DoT successfully conducted #DiscoverMaharashtra- a robust digital campaign featuring a plethora of topics such as Medical Tourism, Eco-Tourism, Wellness Tourism, Safe And Responsible Tourism, Experiential Tourism, Heritage Toursim, MICE- to name a few.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of about section -->

        <!-- facts section -->
        <section id = "facts" class = "py-4 flex">
            <div class = "container">
                <div class = 'title-wrap'>
                    <span class = "sm-title">know some facts about our agency</span>
                    <!-- <h2 class = "lg-title">fun facts</h2> -->
                </div>

                <div class = "facts-row">
                    <div class = "facts-item">
                        <span class = "fas fa-camera-retro facts-icon"></span>
                        <div class = "facts-info">
                            <strong>1220</strong>
                            <p class = "text">photos taken</p>
                        </div>
                    </div>

                    <div class = "facts-item">
                        <span class = "fas fa-umbrella-beach  facts-icon"></span>
                        <div class = "facts-info">
                            <strong>450</strong>
                            <p class = "text">beaches visited</p>
                        </div>
                    </div>

                    <div class = "facts-item">
                        <span class = "fas fa-mountain facts-icon"></span>
                        <div class = "facts-info">
                            <strong>84</strong>
                            <p class = "text">mountains climbed</p>
                        </div>
                    </div>

                    <div class = "facts-item">
                        <span class = "fas fa-ship facts-icon"></span>
                        <div class = "facts-info">
                            <strong>120</strong>
                            <p class = "text">cruises organized</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of facts section -->
        

        <!-- footer -->
        <footer class="py-4">
            <div class="container footer-row">
                <div class="footer-item">
                    <img src="images/logo3-removebg-preview (1).png" alt="EssenceOfMH">
                    <ul class=" links">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
    
                </div>
    
                <div class="footer-item">
                    <h2>Follow us on: </h2>
                    <ul class="social-links">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-pinterest"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
    
                <div class="footer-item">
                    <h2>Popular Places:</h2>
                    <ul>
                        <li><a href="#">Mumbai</a></li>
                        <li><a href="#">Nagpur</a></li>
                        <li><a href="#">Nashik</a></li>
                        <li><a href="#">Satara</a></li>
                        <li><a href="#">Pune</a></li>
                    </ul>
                </div>
    
                <div class="subscribe-form footer-item">
                    <h2>Subscribe for Newsletter!</h2>
                    <form class="flex">
                        <input type="email" placeholder="Enter Email" class="form-control">
                        <input type="submit" class="btn" value="Subscribe">
                    </form>
                </div>
            </div>
        </footer>
        <!-- end of footer -->

        <!-- js -->
        <script src = "js/script.js"></script>
        <script>
            
        </script>
    </body>
</html>